# legacy files
channels.json
backups/
prefixes.json

# configuration
config.ini

known_songs.json
known_tracks.json

# digital mistery
fnf-midcrypt.py

# folders
out
json
midi_files
cache
temp

# pycache & vscode
**/__pycache__
**/.vscode

# logs
logs
# databases
*.db*

# syncthing
.stfolder/

# virtual enviroment
ft_venv/

# brand generation
debug_frames/
bot/tools/brand.py

# macos
**/.DS_Store

# binaries
ffmpeg.exe
ffprobe.exe
CHOpt.exe
Qt6Core.dll
Qt6Gui.dll

# new binaries
bot/data/Binaries/Linux/CHOpt/
bot/data/Binaries/Linux/FFmpeg/
bot/data/Binaries/Windows/CHOpt/
bot/data/Binaries/Windows/FFmpeg/

# runtime vars
.env
restart_state.json